<mat-sidenav-container class="demo-root" fullscreen>
  <mat-sidenav #start>
    <mat-nav-list>
      <a *ngFor="let navItem of navItems"
         mat-list-item
         (click)="start.close()"
         [routerLink]="[navItem.route]">
        {{navItem.name}}
      </a>

      <hr>
    </mat-nav-list>
    <button mat-button (click)="start.close()">CLOSE</button>
  </mat-sidenav>
  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.open()">
        <mat-icon class="mat-24" >menu</mat-icon>
      </button>
      <div class="demo-toolbar">
        <h1>Yago Core Demos</h1>
      </div>
    </mat-toolbar>

    <div #root="dir" dir="ltr" class="demo-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
